.images {
  width: 100%;
  position: relative;
  margin: 0 auto;
  /* aspect-ratio: 16/9; */

  display: grid;
  grid-template: "images" 1fr;
  place-items: center;
  place-content: center;
  overflow: hidden;
  max-height: clamp(450px, 50vh, 600px);
  grid-area: images;
  max-width: 1000px;
}

.image {
  background: red;
  grid-area: images;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  z-index: -1;
}

.arrows {
  width: 90%;
  grid-area: images;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* place-self: center center; */
}

#leftArrow {
  /* place-self: center left; */
}

#rightArrow {
  /* place-self: center right; */
}

.circles {
  grid-area: images;
  place-self: end center;
  position: relative;
  bottom: 13px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: gray;
  place-self: center center;
}
