/* 0.body */
/* 1.nav */
/* 2.main */
/* 3.media query */
/* --------------------0.body-------------------- */
body {
  box-sizing: border-box !important;

  width: 100%;

  padding: 0px;
  margin: auto;

  color: #666666;
  vertical-align: center;
}

a {
  text-decoration: none;
}

hr {
  width: 100%;
  margin: 40px 0px 44px 0px;
  border: none;
  height: 1.5px;
  background-color: #e8e8e8;
}

input {
  width: 200px;
  height: 38px;
  margin-bottom: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #e8e8e8;
}

/* --------------------1.nav-------------------- */
nav {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #e8e8e8;
  /* border: 1px solid #e8e8e8; */
}
/* --------------------2.main-------------------- */
main {
  width: 100%;
  margin-top: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainContainer {
  margin: 37px 0px 120px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting {
  width: 82%;
  height: 51px;
}

.bookingContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order {
  width: 82%;
  display: grid;
  grid-template-columns: 27% 1fr 30px;
  column-gap: 2%;
  place-content: center;
}

.orderImage {
  height: 200px;
}
img {
  height: 200px;
  object-fit: cover;
}

.orderName {
  padding: 5px 0px 30px 0px;
}

.orderTxt {
  margin-bottom: 20px;
}

.iconDel {
  width: 30px;
  height: 30px;
}

.contact {
  width: 82%;
  align-self: center;
}

.payment {
  width: 82%;
  align-self: center;
}

.contactTitle {
  margin-bottom: 31px;
}

.paymentTitle {
  margin-bottom: 31px;
}

.confirm {
  width: 82%;
}

.confirmPrice {
  text-align: end;
  margin-bottom: 25px;
}

.confirmBtn {
  width: 173px;
  height: 36px;

  float: right;

  border-style: none;
  border-radius: 5px;
  border-width: 0px;
  background: #448899;
  color: #ffffff;
}
/* --------------------3.media query-------------------- */
@media only screen and (max-width: 4000px) {
  .navContainer,
  .headContainer,
  .mainContainer {
    width: 1200px;
  }
}

.welcomeImg {
  position: relative;
  right: -128px;
}

@media only screen and (max-width: 1200px) {
  .navContainer,
  .headContainer,
  .mainContainer {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  .mainContainer {
    width: 100%;
    margin: 55px 18px 47px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: visible;
  }

  .order {
    grid-template-columns: repeat(auto-fill, 100%);
  }

  main .profile {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content;
    overflow: visible;

    align-items: center;
  }

  main .images {
    grid-row: 1/-1;
    /* grid-area: images; */

    width: 100%;
    position: relative;
    margin: 0px 0px 20px 0px;

    overflow: visible;
    /* max-height: clamp(450px, 50vh, 600px);
    max-width: 1000px; */

    display: grid;
    grid-template: "images" 1fr;
    place-items: center;
    place-content: center;
  }
  .image {
    width: 100vw;
    height: 350px;
    object-fit: cover;
    /* aspect-ratio: 16 / 9; */

    border-radius: 0px;
    grid-area: images;
    position: relative;
    overflow: visible;
    margin: 0 auto;
    z-index: -1;
  }
}
