*{
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: auto;
  align-items: center;
  justify-content: center;
  color: #666666;
}

nav {
  width: 100%;
  height: 54px;
  background: white;

  display: flex;
  justify-content: center;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navTitle {
  font-family: Noto Sans TC;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #448899;
}

.navBtnContainer {
  display: flex;
  justify-content: end;
}
.navBtn {
  padding: 10px;
  border: none;
  background: none;

  //styleName: Body - Reg 16(13.3);
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: #666666;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  width:100%;
  display: flex;
  flex-direction: column;
}
.section {
  margin: 37px 15px;
  /* top=bottum=37, right=left=15px */
  display: grid;
  grid-template-columns: 540px 600px;
  column-gap: 30px;
}

.imageContainer {
  grid-column: 1/2;
  grid-row:1/-1;
}
img {
  width: 540px;
  height: 406px;
  object-fit: cover;
  border-radius: 5px;
}

.profile {
  color: #666666;
}

#profileName {
  width: 600px;
  height: 33px;
  margin-bottom: 15px;
  //styleName: Header 3 - Bold 24(24);
  font-family: Noto Sans TC;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

#profileCat {
  width: 600px;
  height: 22px;
  margin-bottom: 20px;

  //styleName: Body - Reg 16(13.3);
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
}

.bookingForm {
  width: 600px;
  height: 302px;
  background: #e8e8e8;
  padding-left:20px;
  padding-right:20px;
  padding-top:15px;
  padding-bottom: 15px;
  margin-bottom: 9px;
  border-radius: 5px;
}

.text15 {
  margin: 15px ;
}

input {
  width:193px;
  height:35px;
}

#placeholder {
  margin: 5px 34px 5px 14px; 
  /* top right bottum left */
}

.dot {
  width:20px;
  height:20px;
  border:1px;
  border-style: solid;
  border-color:#ffffff;
  border-radius:10px;
  margin-right:6px;
  margin-left:12px;
}

#dot1{
  background: #448899;
}

#dot2{
  background:white;
}

#booking {
  background: #448899;
  color: #FFFFFF;
  border-raduis: 5px;
  height:36px;
  width:154px;
  padding: auto;
  margin-left:20px;
}

.infors {
  grid-column: 1/-1;
  grid-row: 2/-1;
  grid-template-rows: repeat(3, 1fr);
  gap 20px;

  //styleName: Content - Reg 16(Auto);
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #666666;
}


footer {
  width: 100%;
  height: 104px;
  background: #757575;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  //styleName: Body - Bold 16(13.3);
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
}



/* media query */
@media only screen and (max-width: 4000px) {
  .navContainer,
  .headContainer,
  .mainContainer {
    width: 1200px;
  }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 60000px) {
}

#test {
  background: red;
}



.bold{
  font-weight: bold;
}

/* ------------------------------------------------------------------------------ */
.Header1 {
  font-family: Noto Sans TC;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.Header3 {
font-family: Noto Sans TC;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}

.Button {
  font-family: Noto Sans TC;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.Content {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.Body {
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
}






