box-sizing: border-box;

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  height: 54px;
  background: white;

  display: flex;
  justify-content: center;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navTitle {
  font-family: Noto Sans TC;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #448899;
}

.navBtnContainer {
  display: flex;
  justify-content: end;
}
.navBtn {
  padding: 10px;
  border: none;
  background: none;

  //styleName: Body - Reg 16(13.3);
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: #666666;
}

header {
  width: 100%;
  height: 320px;
  background: linear-gradient(135deg, #aaddee 0%, #66aabb 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.headContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header1 {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 15px;

  //styleName: Header 1 - Bold 28(24);
  font-family: Noto Sans TC;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #f8f8f8;
}

.header2 {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 25px;

  //styleName: Body - Reg 16(13.3);
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: #f8f8f8;
}

input {
  height: 16px;
  width: 370px;
  padding: 15px;

  //styleName: Body - Bold 16(13.3);
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: #757575;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  margin: 55px;
  display: grid;
  /* grid-template-columns: 406px repeat(2, 1fr) auto; */
  grid-template-columns: 540px 1fr;
  grid-template-rows: 406px 1fr;
  gap: 30px;
}

img {
  width: 540px;
  height: 406px;
  grid-column: 1/2;
  grid-row: 1/2;
  object-fit: cover;
}

.profile {
  grid-column: 2/3;
  grid-row: 1/2;

  //styleName: Body - Reg 16(13.3);
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
}

#profileName {
  width: 600px;
  height: 33px;
  margin-bottom: 15px;
  //styleName: Header 3 - Bold 24(24);
  font-family: Noto Sans TC;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

#profileCat {
  width: 600px;
  height: 22px;
  margin-bottom: 20px;
}

.bookingForm {
  width: 600px;
  height: 302px;
  background: #e8e8e8;
  padding-top: 15px;
  padding-left: 20px;
}

.text15 {
  margin: 15px 0;
}

.infors {
  grid-column: 1/-1;
  grid-row: 2/-1;
}

footer {
  width: 100%;
  height: 104px;
  background: #757575;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  //styleName: Body - Bold 16(13.3);
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
}

/* media query */
@media only screen and (max-width: 4000px) {
  .navContainer,
  .headContainer,
  .mainContainer {
    width: 1200px;
  }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 60000px) {
}

#test {
  background: red;
}
