<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="../data/style-attraction.css" rel="stylesheet"></link>
    <!-- load RWD javascript -->
    <script type="text/javascript">
      // function toggleMenu() {
      //   var menu = document.getElementById("items");
      //   menu.classList.toggle("item");
      //   if (menu.style.display == "none") {
      //     menu.style.display = "block";
      //   } else {
      //     menu.style.display = "none";
      //   }
      // }
    </script>
    <title>attraction</title>
  </head>
  <body>
    <nav>
      <div class="navContainer">
        <div class="navTitle">台北一日遊</div>
        <div class="navBtnContainer">
          <button class="navBtn">預定行程</button>
          <button class="navBtn">登入/註冊</button>
        </div>
      </div>
    </nav>

    <!-- fetch images javascript -->
    <main> 
      <div class="mainContainer" id="mainContainer" onload="webContent()">
        <div>
          <img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg">
        </div>
        <div class="profile">
          <div id="profileName">平安鐘</div>
          <div id="profileCat">"category"<span>at</span>"mrt"</div>
          <div class="bookingForm">
            <div class="text15">訂購導覽行程</div>
            <div class="text15">以此景點為中心的一日行程，帶您探索城市角落故事</div>
            <div class="text15">選擇日期：<input type="date" placeholder="yyyy/mm/dd"/></div>
            <div class="text15">選擇時間：上半天下半天</div>
            <div class="text15">導覽費用：<span>新台幣 2000 元</span></div>
            <button>開始預訂行程</button>
          </div>
        </div>


        <div class="infors">
          <hr>
          <div>"description"</div>
          <div>景點地址：</div>
          <div>"address"</div>
          <div>交通方式：</div>
          <div>"transport"</div>
        </div>
      </div>

    </main>

    <footer>
      COPYRIGHT © 2021 台北一日遊
    </footer>

    <script src="../data/script.js" type="text/javascript">
    </script>
  </body>
</html>
