<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/css/attraction.css" rel="stylesheet"></link>
    <script type="text/javascript">
    </script>
    <title>attraction</title>
  </head>

  <body id="body" onload="load()">
    <nav>
      <div class="navContainer">
        <div class="navTitle">台北一日遊</div>
        <div class="navBtnContainer">
          <button class="navBtn Body">預定行程</button>
          <button class="navBtn Body">登入/註冊</button>
        </div>
      </div>
    </nav>

    <main id="main"> 
      <div id="mainContainer" class="mainContainer">
        <div class="profile">
          <div class="images">
            <img id="images">
          </div>
          <div id="name" class="name Header3 Bold"></div>
          <div class="cm Body"><span id="category" class="category">公共藝術</span> at <span id="mrt" class="mrt">忠孝復興</span></div>
          <div id="bookingForm" class="bookingForm Body">
            <div class="bookingTxt"><span class="Bold">訂購導覽行程</span></div>
            <div class="bookingTxt">以此景點為中心的一日行程，帶您探索城市角落故事</div>
            <div class="bookingTxt"><sapn class="Bold">選擇日期：</sapn><input id="placeholder" type="date" placeholder="yyyy/mm/dd"/></div>
            <div class="bookingTxt"><span class="Bold">選擇時間：</span><button onclick="toggle(event)" class="dot" id="dotMorning"></button>上半天<button onclick="toggle(event)" class="dot" id="dotAfternoon"></button>下半天</div>
            <div class="bookingTxt"><span class="Bold">導覽費用：</span><span>新台幣 <span class="price" id="price">2000</span> 元</span></div>
            <button class="Button" id="booking">開始預訂行程</button>
          </div>
        </div>
        <hr>
        <p id="description" class="description">平安鐘祈求大家的平安，這是為了紀念921地震週年的設計，在喧鬧的廣場上每個小時鳴鐘，保佑平安，祈禱臺灣不會再發生這樣的天災。雙手合十加上108個黃色的琉璃乳丁，隨著緩緩流下的水，在底下的一個小噴泉噴出。雙手合十的意義，一個是祈福，一個是包容，教我們要包容這樣的改變，撫平這樣的傷口。下面的水緩緩流出，代表著人的生命力是不斷地延續下去。緩緩地鐘聲，卻帶來心中的寧靜。 這個平安鐘是由建築師姚仁喜與琉璃創作家王俠軍共同設計，長6公尺、寬5公尺，以鑄銅製成，由法鼓山文教基金會全額出資。平安鐘點綴都市景觀，不時提醒大家，面對刻骨銘心的災難痛苦，更應該有謙卑的一顆心。</p>
        <p class="address Bold">
          <div class="Bold">景點地址：</div>
          <div id="address" >臺北市 大安區忠孝東路4段</div>
        </p>
        <p class="transport">
          <div class="Bold">交通方式：</div>
          <div id="transport">捷運站名：忠孝復興站4號出口1.公車：204、212、212直、232、232副、262、262(區間)、278、299、521、605、605(副)、605(新台五線)、667、903、忠孝新幹線至頂好市場站 2.車位：太平洋崇光百貨地下停車場或市民大道附近地下停車場</div>
        </p>
      </div>
    </main>

    <footer id="footer"class="Body Bold footer">
      <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>

    <script src="/js/attraction.js" type="text/javascript">
    </script>
  </body>
</html>