<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/css/attraction.css" rel="stylesheet"></link>
    <script src="/js/attraction.js" type="module"></script>
    <title>attraction</title>
  </head>

  <body id="body">
    <nav>
      <div class="navContainer">
        <a href="/" class="navTitle">台北一日遊</a>
        <div class="navBtnContainer">
          <button class="navBtn Body">預定行程</button>
          <button id="authenticate"class="navBtn Body authenticate">登入/註冊</button>
        </div>
      </div>
    </nav>

    <main id="main"> 
      <div id="mainContainer" class="mainContainer">
        <div class="profile">
          <div class="images">
            <img class="image" id="image-0">
            <div class="arrows">
              <img class="arrow" id="leftArrow" src="/icon/btn_leftArrow.png"></img>
              <img class="arrow" id="rightArrow" src="/icon/btn_rightArrow.png"></img>
            </div>
            <div class="circles" id="circles">
              <!-- <div class="circle-i current"></div> -->
            </div>
          </div>
          <div id="name" class="name Header3 Bold"></div>
          <div class="cm Body"><span id="category" class="category">景點分類</span> at <span id="mrt" class="mrt">捷運站</span></div>
          <div id="bookingForm" class="bookingForm Body">
            <div class="bookingTxt"><span class="Bold">訂購導覽行程</span></div>
            <div class="bookingTxt Content">以此景點為中心的一日行程，帶您探索城市角落故事</div>
            <div class="bookingTxt"><sapn class="Bold">選擇日期：</sapn><input id="placeholder" type="date" placeholder="yyyy/mm/dd"/></div>
            <div class="bookingTxt"><span class="Bold">選擇時間：</span><button class="dot" id="dotMorning"></button>上半天<button class="dot" id="dotAfternoon"></button>下半天</div>
            <div class="bookingTxt"><span class="Bold">導覽費用：</span><span>新台幣 <span class="price" id="price">2000</span> 元</span></div>
            <button class="Button" id="booking">開始預訂行程</button>
          </div>
        </div>
        <hr class="hr">
        <p id="description" class="description Content">敘述</p>
        <div class="address">
          <div class="Body Bold Height32">景點地址：</div>
          <div class="Content" id="address" >地址</div>
        </div>
        <div class="transport">
          <div class="Body Bold Height32">交通方式：</div>
          <div class="Content" id="transport">交通資訊</div>
        </div>
      </div>
    </main>

    <footer id="footer"class="Body Bold footer">
      <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
  </body>
</html>