<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/common.css" rel="stylesheet"></link>
    <link href="/css/booking.css" rel="stylesheet" />
    <link href="/css/popup.css" rel="stylesheet" />
    <script src="/js/booking.js" type="module"></script>
    <title>booking</title>
  </head>

  <body id="body">
    <nav>
      <div class="navContainer">
        <a href="/" class="navTitle">台北一日遊</a>
        <div class="navBtnContainer">
          <button class="navBtn Body">預定行程</button>
          <button id="authenticate"class="navBtn Body authenticate">登入/註冊</button>
        </div>
      </div>
    </nav>

    <main id="main"> 
      <div id="mainContainer" class="mainContainer">
        <div id="order" class="order">
          <div id="orderTitle" class="orderTitle Body Bold">您好，<span id="userName"></span>，待預訂的行程如下：</div>
          <div id="orderImage" class="orderImage Body Bold"><img id="attractionImg"/></div>
          <div id="orderInfo" class="orderInfo">
            <div id="orderName" class="orderName Body Bold Teal">台北一日遊：<span id="attractionName">平安鐘</span></div>
            <div id="orderDate" class="orderTxt Body Bold">日期：<span id="date">YYYY-MM-DD</span></div>
            <div id="orderTime" class="orderTxt Body Bold">時間：<span id="time">時段</span></div>
            <div id="orderPrice" class="orderTxt Body Bold">費用：<span>新台幣 <sapn id="price">2000</sapn> 元</span></div>
            <div id="orderAddress" class="orderTxt Body Bold">地點：<span id="address">地址</span></div>
            <img src="/icon/icon_delete.png" id="iconDel" class="iconDel"></img>
          </div>

        </div>
        <hr class="hr">
        <div id="contact" class="contact">
          <div id="contactTitle" class="contactTitle Bold">您的聯絡資訊</div>
          <div id="contactName" class="contactName">聯絡姓名：<input type="text" placeholder="Jane Doe" name="name"></div>
          <div id="contactEmail" class="contactEmail">連絡信箱：<input type="email" placeholder="JaneDoe@gmail.com" name="email"></div>
          <div id="contactNumber" class="contactNumber">手機號碼：<input type="number" placeholder="0123-456-789" name="number"></div>
          <div id="contactNotes" class="contactNotes Bold">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
        </div>
        <hr class="hr">
        <div id="payment" class="payment">
          <div id="paymentTitle" class="paymentTitle Bold">信用卡付款資訊</div>
          <div id="paymentCard" class="paymentCard">卡片號碼：<input type="number" placeholder="**** **** **** ****"></div>
          <div id="paymentExp" class="paymentExp">過期時間：<input type="text" placeholder="MM/YY"></div>
          <div id="paymentCode" class="paymentCVV">驗證密碼：<input type="number" placeholder="CVV"></div>
        </div>
        <hr class="hr">
        <div id="confirm" class="confirm">
          <div id="confirmPrice" class="confirmPrice Body Bold">總價：新台幣 2000 元</div>
          <button id="confirmBtn" class="confirmBtn Button">確認訂購並付款</button>
        </div>
      </div>
    </main>

    <footer id="footer"class="Body Bold footer">
      <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
  </body>
</html>
