<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/common.css" rel="stylesheet"></link>
    <link href="/css/booking.css" rel="stylesheet" />
    <link href="/css/popup.css" rel="stylesheet" />
    <script src="/js/booking.js" type="module"></script>

    <title>booking</title>
  </head>

  <body id="body">
    <nav>
      <div class="navContainer">
        <a href="/" class="navTitle">台北一日遊</a>
        <div class="navBtnContainer">
          <button id="quickBookingBtn" class="navBtn Body">預定行程</button>
          <button id="logoutBtn"class="navBtn Body authenticate">登出</button>
        </div>
      </div>
    </nav>

    <main id="main"> 
      <div id="mainContainer" class="mainContainer">
        <div id="greeting" class="greeting Body Bold">您好，<span id="userName"></span>，待預訂的行程如下：</div>
        <div id="bookingContainer" class="bookingContainer">
          <div id="order" class="order">
          </div>
          <hr class="hr">
          <div id="contact" class="contact">
            <div id="contactTitle" class="contactTitle Bold">您的聯絡資訊</div>
            <div id="contactName" class="contactName">聯絡姓名：  <input id="inputName" type="text" placeholder="Jane Doe" name="name"></div>
            <div id="contactEmail" class="contactEmail">連絡信箱：  <input id="inputEmail" type="email" placeholder="JaneDoe@gmail.com" name="email"></div>
            <div id="contactNumber" class="contactNumber">手機號碼：  <input type="number" placeholder="0123-456-789" name="number" required><img class="ok" src="icon/icon_check.png"></img></div>
            <div id="contactNotes" class="contactNotes Bold">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
          </div>
          <hr class="hr">
          <div id="payment" class="payment">
            <div id="paymentTitle" class="paymentTitle Bold">信用卡付款資訊</div>
            <div class="foriframe card-number">
              <label for="card-number ">卡片號碼：</label>
              <div class="tpfield" id="card-number"></div>
              <img class="ok" src="/icon/icon_check.png"/>
              <img class="error" src="/icon/icon_error.png"/>
              <span class="entering"><span class="dotsFlashing"></span></span>
            </div>
            <div class="foriframe card-expiration-date">
              <label for="card-expiration-date">過期時間：</label>
              <div class="tpfield" id="card-expiration-date"></div>
              <img class="ok" src="/icon/icon_check.png"/>
              <img class="error" src="/icon/icon_error.png"/>
              <span class="entering"><span class="dotsFlashing"></span></span>
            </div>
            <div class="foriframe card-ccv">
              <label for="card-ccv">驗證密碼：</label>
              <div class="tpfield" id="card-ccv"></div>
              <img class="ok" src="/icon/icon_check.png"/>
              <img class="error" src="/icon/icon_error.png"/>
              <span class="entering"><span class="dotsFlashing"></span></span>
            </div>
          </div>
          <hr class="hr">
          <div id="confirm" class="confirm">
            <div id="confirmPrice" class="confirmPrice Body Bold">總價：新台幣 2000 元</div>
            <div><button id="submitBtn" class="submitBtn Button">確認訂購並付款</button></div>
          </div>
        </div>
      </div>
    </main>

    <footer id="footer"class="Body Bold footer">
      <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
    <script src="https://js.tappaysdk.com/tpdirect/v5.8.0"></script>
    <script src="/js/tappay.js" type="text/javascript"></script>
  </body>
</html>
