<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>thank you</title>
  </head>
  <body id="body">
    <nav>
      <div class="navContainer">
        <a href="/" class="navTitle">台北一日遊</a>
        <div class="navBtnContainer">
          <button id="quickBookingBtn" class="navBtn Body">預定行程</button>
          <button id="logoutBtn"class="navBtn Body authenticate">登出</button>
        </div>
      </div>
    </nav>

    <main id="main"> 
      <div id="mainContainer" class="mainContainer">
        <div id="greeting" class="greeting Body Bold">成功付款，謝謝!</div>
        <div id="bookingContainer" class="bookingContainer">
          <div id="order" class="order Body Bol">訂單明細
            <div>訂單編號：<sapn id="orderNumber" class="orderNumber Reg"></sapn></div>
            <div>訂單金額:<sapn id="price" class="price Reg"></sapn></div>
            <hr class="hr">
            <div>商品名稱：<sapn id="attractionName" class="trip Reg"></sapn></div>
            <div>地址：<sapn id="address" class="trip Reg"></sapn></div>
            <div>日期：<sapn id="date" class="trip Reg"></sapn></div>
            <div>時段：<sapn id="time" class="trip Reg"></sapn></div>
            <hr class="hr">
            <div>聯絡姓名：<sapn id="contactName" class="contact Reg"></sapn></div>
            <div>eamil：<sapn id="contactEmail" class="contact Reg"></sapn></div>
            <div>電話：<sapn id="contactNumber" class="contact Reg"></sapn></div>
          </div>
      </div>
    </main>

    <footer id="footer"class="Body Bold footer">
      <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>
    <script src="https://js.tappaysdk.com/tpdirect/v5.8.0"></script>
    <script src="/js/tappay.js" type="text/javascript"></script>
  </body>
</html>
